
@{
    ViewBag.Title = "Stock Out";
}

<div class="page-content fade-in-up">


    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Sale Return</div>
            <div class="ibox-tools">
                @*<a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>*@

                <a href="Add" class="btn btn-lg  btn-primary abtncolr">Add New Sale Return</a>
            </div>
        </div>
        <div class="ibox-body">


            <div class="row">




                @*Design Here*@




            </div>


        </div>
    </div>


</div>

